description "Gunicorn server for iotlaunchpad"

start on net-device-up
stop on shutdown

respawn

setuid {{ user }}
chdir {{ source_dir }}

exec {{ venv_home }}/bin/gunicorn --bind {{ socket_path }} iotlaunchpad.wsgi:application

